<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Copyright © 2013-2023 Simon Inc. 西蒙 版权所有</span>
    <p px-1></p>
    <a
      text-xs
      href="https://beian.miit.gov.cn" target="_blank"
    >蜀ICP备2022013046号</a>
  </p>
</footer>
